@model Exercises.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Add";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Add Student</h3>
                <div class="row">
                    @using (Html.BeginForm("Add", "Student", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true)
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        @Html.TextBoxFor(m => m.AddStudentVM.FirstName, new { @class = "form-control", required = "required" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.AddStudentVM.FirstName)</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        @Html.TextBoxFor(m => m.AddStudentVM.LastName, new { @class = "form-control", required = "required" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.AddStudentVM.LastName)</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Major:</label>
                                        @Html.DropDownListFor(m => m.AddStudentVM.MajorId, Model.AddStudentVM.MajorItems, "-Choose One-", new { @class = "form-control", required = "required" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.AddStudentVM.MajorId)</span>
                                    </div>
                                    <div class="form-group">
                                        <label>GPA:</label>
                                        @Html.TextBoxFor(m => m.AddStudentVM.GPA, new { @class = "form-control", required = "required" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.AddStudentVM.GPA)</span>
                                    </div>
                                    <h4>Courses</h4>
                                    <div class="form-group">
                                        @Html.ListBoxFor(m => m.AddStudentVM.SelectedCourseIds, Model.AddStudentVM.CourseItems, new { @class = "form-control", required = "required" })
                                        <span class="text-danger">@Html.ValidationMessageFor(m => m.AddStudentVM.SelectedCourseIds)</span>
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>